.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.single-book h1 {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.single-book .author {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}
.single-book img {
  width: 600px !important;
  height: auto;
  margin-bottom: 20px;
}
